{% extends "basic/layout.html" %}
{% set css_files = ['_static/css/style.css'] + css_files %}

{%- block extrahead %}
{% endblock %}

{% block header %}
<div id="page">
	<div id="header">
		<div id="parent">
			<a href="http://www.difi.no/"><img src="http://data.norge.no/themes/contrib/difi/difi.png" height="30" width="143" alt="Direktoratet for forvaltning og IKT (Difi)" /></a>
		</div>
		<div id="name-and-slogan">
			<div id="site-name">
                <h1><a href="{{ pathto(master_doc) }}" title="Hjem" rel="home"><span>{{ project|e }}</span></a></h1>
			</div>
        </div>
	</div>

	<div id="navigation">
		<ul id="main-menu" class="links clearfix">
			<li class="menu-252 first active"><a href="{{ pathto(master_doc) }}" class="active">Hjem</a></li>
		</ul>
	</div>

{% endblock %}

{# Silence the sidebar's, relbar's #}
{% block sidebar1 %}{% endblock %}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}

{%- block content %}
	<div id="main" class="has-sidebar">
		<div id="content" class="column">
			<a id="main-content"></a>
			<div class="content">
				{% block body %} {% endblock %}
			</div>
		</div>
		<div id="sidebar">
			<div class="region region-sidebar">
				{% block sidebar2 %}
				  {{ sidebar() }}
				{% endblock %}
			</div>
		</div>
	</div>
{%- endblock %}

{%- block footer %}
  <div id="footer">

    <div id="contact">

      Direktoratet for forvaltning og IKT

      - <a href="http://www.difi.no/">www.difi.no</a>

      - <a href="mailto:open@difi.no">open@difi.no</a>

       - +47 22 45 10 00

       - Org.nr: 991 825 827

       - <a href="http://data.norge.no/personvernpolicy">Personvern</a>       - <a href="http://data.norge.no/vilk%C3%A5r-bruk-av-nettstedet">Vilkår</a>    </div>
      </div>
  </div>
{%- endblock %}

</div>